.logo_wrapper {
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.screen {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.screen {
  overflow: hidden;

  -webkit-animation: hide-screen 2s linear forwards 6.5s;
  -o-animation: hide-screen 2s linear forwards 6.5s;
  -moz-animation: hide-screen 2s linear forwards 6.5s;
  animation: hide-screen 2s linear forwards 6.5s;
}

.screen span.shared {
  position: absolute;
  bottom: 5px;
  color: #fff;
}

.screen span.shared {
  position: absolute;
  bottom: 5px;
  color: #fff;

  -webkit-animation: show-shared 6s linear forwards;
  -o-animation: show-shared 6s linear forwards;
  -moz-animation: show-shared 6s linear forwards;
  animation: show-shared 6s linear forwards;
}

#logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes hide-screen {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes show-shared {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}