.main {
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
}
.greet-main {
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
  margin-top: 2rem;
}

.gretting-main {
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
}

.greeting-main {
  display: flex;
}

.greeting-main > * {
  flex: 1;
}
.button-greeting-div {
  display: flex;
  margin-top: 20px;
}

.greeting-text {
  margin-top: 80px;
  font-size: 70px;
  line-height: 1.1;
  font-family: "Google Sans Bold";
}

.greeting-nickname {
  font-size: 30px;
  line-height: 0px;
  font-family: "Google Sans Bold Italic";
}

.greeting-text-p {
  font-size: 40px;
  line-height: 40px;
  margin-right: 40px;
  font-family: "Google Sans Medium";
}

.greeting-image-div > * {
  max-width: 100%;
  height: auto;
}

img.gif-fill-proud {
  position: relative;
  width: 100%;  
  clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);
  animation: rotate-fill-proud 7s linear infinite;
  -webkit-animation: rotate-fill-proud 7s linear infinite;
  -o-animation: rotate-fill-proud 7s linear infinite;
  -moz-animation: rotate-fill-proud 7s linear infinite;
}

@keyframes rotate-fill-proud {
  0% { clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%); }
  11.11% { clip-path: polygon(20% 10%, 50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%); }
  22.22% { clip-path: polygon(0% 35%, 20% 10%, 50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%); }
  33.33% { clip-path: polygon(0% 70%, 0% 35%, 20% 10%, 50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%); }
  44.44% { clip-path: polygon(20% 90%, 0% 70%, 0% 35%, 20% 10%, 50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%); }
  55.55% { clip-path: polygon(50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%, 50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%); }
  66.66% { clip-path: polygon(100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%, 50% 0%, 80% 10%, 100% 35%); }
  77.77% { clip-path: polygon(100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%, 50% 0%, 80% 10%); }
  88.88% { clip-path: polygon(80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%, 50% 0%); }
  100% { clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%); }
}

/* Media Query */
@media (max-width: 1380px) {
  .greeting-text {
    font-size: 50px;
  }
  .greeting-text-p {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .button-greeting-div {
    justify-content: space-around;
  }
  .greeting-text {
    font-size: 30px;
    margin-top: 0px;
    text-align: center;
  }
  .greeting-nickname {
    font-size: 25px;
    text-align: center;
  }
  .greeting-text-p {
    font-size: 16px;
    margin-right: 0px;
    line-height: normal;
    text-align: center;
  }
  .greeting-main {
    display: block;
  }
}
